header {
	text-align: center;
	background-color: #071218;
	color: white;
	padding: 50px 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
header h1, h2 {
	font-weight: 300;
}
.searchbar {
	background-color: #e3eaf4;
}
