<template>
  <v-app>
    <div class="searchbar">
      <v-container pt-0 pb-0>
        <v-layout pt-3 pb-2 searchbar>
          <v-flex xs6>
            <v-text-field
              solo
              hide-details
              label="Search"
              placeholder="Search"
              prepend-icon="search"
              v-model="search"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    <v-container>
      <v-data-table
        :headers="headers"
        :items="planets"
        hide-actions
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.population }}</td>
          <td>{{ props.item.diameter }}</td>
          <td>{{ props.item.rotation_period }}</td>
          <td>{{ props.item.orbital_period }}</td>
          <td>
            <template v-for="(terrain, key) in csvToArray( props.item.terrain )">
              <br v-if="key != 0" v-bind:key="key" />{{ terrain }}
            </template>
          </td>
          <td>
            <template v-for="(filmApiUrl, key) in props.item.films">
              <br v-if="key != 0" v-bind:key="key" />{{ getFilmTitle(filmApiUrl) }}
            </template>
          </td>
        </template>
      </v-data-table>
      <v-layout pt-3 pb-2>
        <v-pagination
          v-model="page"
          :length="pageCount"
          style="margin-left: auto;"
        ></v-pagination>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
  import { ajax } from 'rxjs/ajax'
  import { debounceTime, distinctUntilChanged, map, pluck, switchMap } from 'rxjs/operators'

  export default {
    subscriptions() {
      return {
        search$: this.$watchAsObservable('search', { immediate: true }).pipe(
          pluck('newValue'),
          debounceTime(500),
          distinctUntilChanged(),
          map(this.resetPage),
          switchMap(this.searchByTerm),
          map(this.setPlanets)
        ),
        page$: this.$watchAsObservable('page').pipe(
          pluck('newValue'),
          distinctUntilChanged(),
          switchMap(this.searchByPage),
          map(this.setPlanets)
        )
      }
    },
    created: function() {
      this.fetchFilms()
    },
    methods: {
      resetPage:function(obs) {
        this.page = 1
        return obs
      },
      setPlanets: function(res) {
        this.planets = res.response.results
        this.resultCount = res.response.count
      },
      searchByTerm: function(term) {
        this.lastSearch = term
        return ajax({
          url: 'https://swapi.co/api/planets/?search=' + term + '&page=' + this.page,
          responseType: 'json',
          data: {
            format: 'json'
          }
        })
      },
      fetchFilms: function() {
        ajax({
          url: 'https://swapi.co/api/films/',
          async: false,
          responseType: 'json',
          data: {
            format: 'json'
          }
        })
        .subscribe(
          (data) => {
            this.films = data.response.results
          }
        )
      },
      getFilmTitle: function(filmApiUrl) {
        let film = this.films.find(function(obj){
          return obj.url == filmApiUrl
        })
        return film.title
      },
      searchByPage: function() {
        return this.searchByTerm(this.lastSearch)
      },
      csvToArray: function(string) {
        let terrains = string.split(',')
        return terrains.map(x => x.trim())
      }
    },
    computed: {
      pageCount: function() {
        return Math.ceil( this.resultCount / this.resultsPerPage )
      }
    },
    data() {
      return {
        search: '',
        lastSearch: '',
        resultCount: 0,
        page: 1,
        resultsPerPage: 10,
        films: [],
        planets: [],
        headers: [
          {
            text: 'Name',
            value: 'name'
          },
          {
            text: 'Population',
            value: 'population'
          },
          {
            text: 'Diameter',
            value: 'diameter'
          },
          {
            text: 'Rotation Period',
            value: 'rotation_period'
          },
          {
            text: 'Orbital Period',
            value: 'orbital_period'
          },
          {
            text: 'Terrain',
            value: 'terrain',
            sortable: false
          },
          {
            text: 'Films',
            value: 'films',
            sortable: false
          }
        ]
      }
    }
  }
</script>
